<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Stock application</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<link id="search-icon" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  </head>

  <body>
      
              <input id="sidebar-checkbox" type="checkbox" />
              <label id="sidebar-icon-container" for="sidebar-checkbox">
              <span id="open-sidebar" class="material-symbols-outlined">
              menu
              </span>
              <span id="close-sidebar" class="material-symbols-outlined">
              close
              </span>
              </label>

            <ul class="navbar-list">
            {% block sidebar %}
              {% if user.is_authenticated %}

              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                <a href="{% url 'accounts:user-update' user.id %}">
                  <img src="{{ user.profile.image }}" 
                      loading="lazy"
                      class="profile-image">
                </a>

                <div class="pages">
                <li><a id="home" href= "{% url 'homepage' %}">Home</a>
                </li>
                <li class ="embedded">
                  <p>Foods</p>
                  <span class="open-nested-sidebar dropdown-icon material-symbols-outlined change-span">keyboard_arrow_down</span>
                  <ul id="embedded" class="nested-ul">
                    <li><a href= "{% url 'all-foods' %}">Foods</a></li>
                  </ul>
                </li>
                <li class ="embedded">
                  <p>Recipes</p>
                  <span id ="recipe-open" class="open-nested-sidebar dropdown-icon material-symbols-outlined change-span">keyboard_arrow_down</span>
                  <ul class="nested-ul">
                    {% block recipe_link %}
                      <li><a href= "{% url 'all-recipes' %}">Recipes</a></li>
                    {% endblock %}
                      <li onclick="GenerateRecipePost()">AI chat</li>
                  </ul>
                </li>
                </div>

                <li id="logout-btn" style="cursor: pointer;"><a href="{% url 'logout' %}">Logout</a></li>
              {% endif %}
              {% endblock %}
            </ul>




        <main>

          {% block main %}
          {% endblock %}


        <div class="content">{% block content %}{% endblock %}</div>

        <div class="added-links">{% block links %}{% endblock %}</div>

        <a href="#" id="scroll-top">
            <span class="material-symbols-outlined">
            keyboard_control_key
            </span>
        </a>
</main>
          
  </body>


  <footer>
    <ul>
      <li>About us</li>
    </ul>

    <!-- <ul> -->
    <!--   <li>Menu</li>  <li>Menu</li>  <li>Menu</li>  <li>Menu</li> -->
    <!-- </ul> -->
    
  </footer>
</html>

<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }

  async function GenerateRecipePost() {
    const url = ("{% url 'recipe-generate' %}");
    try {
      const csrfToken = getCookie('csrftoken');
      const response = await fetch(url, {
        method: 'POST',
        headers: {'X-CSRFToken': csrfToken},
        mode: 'same-origin'
      })
      if (response.redirected) {
            window.location.href = response.url; 
      }
    }
    catch (error) {
      console.log(error);
    }
  } 
</script>
