<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Stock application</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
<link id="search-icon" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet"> -->
  </head>

  <body>
          {% block sidebar %}
      
              <input id="sidebar-checkbox" type="checkbox" />
              <label id="sidebar-icon-container" for="sidebar-checkbox">
              <span id="open-sidebar" class="material-symbols-outlined">
              menu
              </span>
              <span id="close-sidebar" class="material-symbols-outlined">
              close
              </span>
              </label>

            <ul class="navbar-list">
             
              {% if user.is_authenticated %}

              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

                <li id="user-li" class="dropdown-nav">User: {{ user.get_username }} 
                  {% block user_embedded %}
                  {% endblock %}
                  <span id ="" class="material-symbols-outlined change-span"></span>
                </li>

                <div class="pages">
                <li><a id="home" href= "{% url 'homepage' %}">Home</a>
                </li>
                <li class ="embedded">
                  <p>Foods</p>
                  <ul class="nested-ul">
                    <li><a href= "{% url 'all-foods' %}">Foods</a></li>
                  </ul>
                  <span class="open-nested-sidebar dropdown-icon material-symbols-outlined change-span">keyboard_arrow_down</span>
                </li>
                <li class ="embedded">
                  <p>Recipes</p>
                  <ul class="nested-ul">
                    <li><a href= "{% url 'all-recipes' %}">Recipes</a></li>
                  </ul>
                  <span id ="recipe-open" class="open-nested-sidebar dropdown-icon material-symbols-outlined change-span">keyboard_arrow_down</span>
                </li>
                </div>

                <li id="logout-btn" style="cursor: pointer;"><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
              {% endif %}

            </ul>



          {% endblock %}

        <main>

          {% block main %}
          {% endblock %}


        <div class="content">{% block content %}{% endblock %}</div>

        <div class="added-links">{% block links %}{% endblock %}</div>

        <a href="#" id="scroll-top">
            <span class="material-symbols-outlined">
            keyboard_control_key
            </span>
        </a>
</main>
          
  </body>


  <footer>
    <ul>
      <li>About us</li>
      <li>About us</li>
      <li>About us</li>
      <li>About us</li>
    </ul>

    <ul>
      <li>Menu</li>  <li>Menu</li>  <li>Menu</li>  <li>Menu</li>
    </ul>
    
  </footer>
</html>

