html {
  margin: 0;
  background-color: #f0f7f8;
  overflow-x: clip;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



.navbar-list {
  display: flex;
  background-color: #f0f7f8;
  padding: 2rem 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(181, 171, 136);
}

.navbar-list li {
  margin-right: 2rem;
}

.navbar-list li>a {
  color: black;
}

#user-li {
  margin-left: 2em;
}

.pages {
  display: flex;
  justify-content: space-between;
}

#logout-btn {
  background-color: rgb(201, 152, 75);
  margin-right: 2em;
  padding: .5rem 1rem;
  border-radius: .25em;
}

#logout-btn:hover {
  color: black;
  background-color: rgb(247, 156, 10);
  transition: all 1s;

}

.navbar-list a {
  text-decoration: none;
}


.navbar-list li:hover,
.navbar-list a:hover {
  color: rgb(247, 156, 10);
  transition: all 2ms;
}


ul ul {
  margin-top: 1em;
  position: relative;
  list-style: none;
  display: none;
}



.content {
  display: flex;
  /* flex-direction:column; */
  align-items: center;
  min-height: 100vh;
  background-color: rgb(181, 171, 136);
}



.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.content table:first-child {

  margin-top: 5em;

}

.content a {
  text-decoration: none;
  display: flex;
}

.inventory-link td {
  padding-top: 5em;
  font-size: 1em;
}

#inventorys-table a {
  font-size: 1.5em;
  color: black;
  padding: 0 3em;
}

#inventorys-table {
  font-family: ui-rounded;
}


#inventorys-table+p,
#inventorys-table+a {
  color: black;
  margin-top: 5em;
}

#inventorys-table+p,
#inventorys-table+a:hover {
  color: rgb(247, 156, 10);
  transition: all 2ms;
}

body {
  margin: 0;
}

#img-container {
  display: flex;
  flex-direction: column;
  padding: 5em 0;
  background-image: url("../img/stock.webp");
  background-size: cover;
  align-items: center;
}

#img-container h1 {
  font-family: Calibri;
  color: #e2ded0;
}

#stockfoods-container {
  display: flex;
  flex-shrink: 4;
}

#stockfoods-table {
  border-collapse: collapse;
  background: #323232;
  background: #93875b;
  margin-bottom: 2em;
  width: 100%;
}

#stockfoods-table th,
#stockfoods-table td {
  padding: 1rem 3rem;
  color: white;
}

#stockfoods-table a {
  color: white;
}

#stockfoods-container~a,
#stockfoods-container~p {
  color: white;
}

#stockfoods-table th {
  text-align: left;
}

#stockfoods-container {
  width: min(900px, 100% - 3rem);
}

footer {
  padding: 7em;
  background-color: rgb(50, 50, 50);
}

#stockfoods-container tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

.search {
  margin: 1em 0;
  padding: .5rem 0;
  text-align: center;
}

#food-list {
  list-style: none;

}

#food-list li {
  margin-bottom: 1.5em;
  font-size: 1.2rem;
}

#food-list a:hover {
  text-decoration: underline;
}

#food-list a {
  color: black;
}

a {
  color: black;
}


#search-form {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;
  margin-top: 2em;
  padding: .3em .5em;
  background-color: rgb(50, 50, 50);
  cursor: pointer;
  overflow: hidden;
}

#search-form span {
  height: 10px;
}

span {
  color: rgb(247, 156, 10);
}

#search-form input {
  display: none;
  opacity: 0;
  transition: opacity 1ms ease-in-out;
}

/*after hover*/

#search-form:hover {
  height: 5vh;
  width: max-content;
  border: none;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0 2em;
  border-radius: 2em;
  min-width: 2em;
}

#search-form:hover input {
  opacity: 1;
  display: block;
  font-size: 1em;
  outline: none;
  border: none;
  background: transparent;
}


#search-form:hover span {
  margin-left: auto;
  justify-self: flex-end;
}

@media (max-width: 450px) {

  .navbar-list,
  .pages {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .navbar-list li,
  .pages {
    margin-left: 2em;
  }

  .navbar-list * {
    margin-bottom: .5em;
  }

  #img-container {
    padding: 5em 0;
    background-image: url("../img/stock.webp");
    background-size: cover;
    text-align: center;
  }

  #img-container h1 {
    font-family: Calibri;
    color: #e2ded0;
  }

  .content tr a {
    text-align: center;
    font-size: 1em;
  }

  #stockfoods-table th,
  #stockfoods-table td {
    padding: 1rem 1rem;
    color: white;
  }
}
