{% extends 'base.html' %}

{% block sidebar %}
  {{ block.super }}
  <hr>
  <ul class='sidebar-nav'>
    <li><a href = "{% url 'stockInstance-update' stockinstance.id %}">Edit  {{ stockinstance.name }}</a></li>
    <li><a href = "{% url 'stockInstance-delete' stockinstance.id %}">Delete  {{ stockinstance.name }}</a></li>
  </ul>
{% endblock %}

{% block content %}
<h1>{{ stockinstance.name }}</h1>
  {% if stockinstance.stockfood_set.all %}
  
  <table>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
    </tr>

  {% for food in stockinstance.stockfood_set.all %}

  <tr>
    <td><a href='{{ food.get_absolute_url }}'>{{ food }}</a></td>
    <td>{{ food.quantity }}</td>
  </tr>

    {% endfor %}
  </table>

  <a href='{% url 'stockFood-create' stockinstance.id %}'>Add to    {{ stockinstance.name }}</a>
  
  {% else %}
  <p>{{ stockinstance }} is currently empty!</p>
  <a href='{% url 'stockFood-create' stockinstance.id %}'>Add to    {{ stockinstance.name }}</a>
{% endif %}

{% endblock %}
