{% extends 'base.html' %}


{% block content %}

<section id="Instances-section">

{% if stockinstance_list %}
<h1>My stockrooms</h1>


  <ul id ="Instances-container">
  {% for inventory in stockinstance_list %}

    <li class="Inventory-Instance">
      <span class="right-arrow material-symbols-outlined">arrow_forward
      </span>
      <a  href= '{{ inventory.get_absolute_url }}'>{{ inventory }}</a>
    </li>

  {% endfor %}
  </ul>

{% else %}
  <p class="hidden">You Currently have no inventory's</p>
{% endif %}


  <a class="hidden" href="{% url 'stockInstance-create' %}">Create an inventory</a>
</section>

  <div id="Instance-image"></div>

{% endblock %}


