{% extends 'base.html' %}

{% block  user_embedded %}
  <ul>
  </ul>
{% endblock %}


{% block content %}

  
<section id="stockfoods">

  <aside class="header-info">
    <h1>{{ stockinstance.name }}</h1>
    <span onclick=showHeaderInfo(true) class="open-info-header material-symbols-outlined">
    info_i
    </span>
  </aside>
  {% if stockinstance.stockfood_set.all %}

  <section class="filters">
    <form id="search-form" autocomplete="off" action = "" method ='get'>
      <input class="search" name='q' type='text' placeholder='Search...' hx-get="/inventory/{{ stockinstance.id }}" hx-trigger="keyup changed delay:500ms" hx-target="#stockfoods-list">

    <span class="material-symbols-outlined">
    search
    </span>

    </form>
    

    <ul id="filter-list">
      <li>
      <span id="open-filters" class="material-symbols-outlined">
      tune 
      </span>       
      <ul id="inner-list">
          <li>
            <label class="checkbox-label">
                <input type="checkbox" name="filter" id="filter-input" hx-get="/inventory/{{ stockinstance.id }}" hx-trigger="change delay:500ms" hx-target="#stockfoods-list"> 
            Expired 
            </label>

          </li>
        </ul>
      </li>
    </ul>

</section>

  <ul id="stockfoods-list" hx-swap-oob="true">

  {% for stockfood in page_obj %}

        <li>
        <section id="stockfood-detail">
          <article class="dialog-container detail-dialog">

            <aside class="header-info">
              <h1><a href = '{{ stockfood.food.get_absolute_url }}'>{{ stockfood.food }}</a></h1>
              <span class="open-dialog open-info material-symbols-outlined">
              info_i
              </span>
            </aside>

              <ul>
              <li>Quantity: {{ stockfood.quantity }}</li>
              {% if stockfood.expired %}
                <li><em>Expired</em>: {{ stockfood.expiry_date }}</li>
              {% else %}
                <li>Expires: {{ stockfood.expiry_date }}</li>
              {% endif %}
            </ul>


            <dialog class="dialog">
              <div class="dialog-wrapper">
              <span  class="close-dialog material-symbols-outlined">
              close
              </span>
            <ul>
              <li><a href="{% url 'stockFood-update' stockfood.id %}">Edit</a></li>
              <li><a href="{% url 'stockFood-delete' stockfood.id %}">Remove food</a></li>
            </ul>
            </div>
            </dialog>

          </article>
        </section>
        </li>

    {% endfor %}

  </ul>

  {% else %}
  <p>{{ stockinstance }} is currently empty!</p>
  {% endif %}

  <dialog id="header-dialog">
    <div id="info-wrapper" >
      <span id="close-recipe" onclick=showHeaderInfo(false) class="material-symbols-outlined">
      close
      </span>
      <nav id="owner-links">
        <a href = "{% url 'stockInstance-update' stockinstance.id %}">edit
          <span id="edit-icon" class="material-symbols-outlined">
          arrow_selector_tool
          </span>
        </a>

        <a href = "{% url 'stockInstance-delete' stockinstance.id %}">delete 
          <span id="delete-icon" class="material-symbols-outlined">
          delete
          </span>
        </a>
      </nav>
    </div>
  </dialog>
  <a class="add-link" href='{% url 'stockFood-create' stockinstance.id %}'>Add Food <span class="material-symbols-outlined">add</span></a>

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><span class="material-symbols-outlined">
    arrow_left_alt
    </span></a>
        {% else %}

          <a href=""><span class="material-symbols-outlined">
          arrow_left_alt
          </span></a>
              {% endif %}

        <span class="current">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><span class="material-symbols-outlined">
            arrow_right_alt
            </span></a>
        {% else %}

          <a href=""><span class="material-symbols-outlined">
          arrow_right_alt
          </span></a>
        {% endif %}
    </span>
<section>


{% endblock %}
