{% extends 'base.html' %}


{% block  recipe_link %}
  <li><a href= "{% url 'all-recipes' %}?stock_instance={{ stockinstance.id }}">Recipes</a></li>
{% endblock %}


{% block content %}

  
<section id="stockfoods">

  <aside class="header-info">
    <h1>{{ stockinstance.name }}</h1>
    <span onclick=showHeaderInfo(true) class="open-info-header material-symbols-outlined">
    info_i
    </span>
  </aside>
  {% if stockinstance.stockfood_set.all %}

  <section id="instance-filters" class="filters">
    <form id="filter-form" autocomplete="off"
      hx-get=""
      hx-trigger="change, keyup delay:500ms"
      hx-target="#stockfoods-list">

        <div id="search-form">
          <input class="new-search" name='q' type='text' placeholder='Search...' >
          <span class="material-symbols-outlined">
          search
          </span>
        </div>
        

        <ul id="filter-list" class="instance-filter-list">
            <li>
            <span id="open-filters" class="material-symbols-outlined">
            tune 
            </span>       
            <ul id="inner-list">
                <li>
                  <label class="checkbox-label">
                      <input type="checkbox" name="expired" id="filter-input"> 
                  Expired 
                  </label>
                </li>
                <li>
                  <label class="checkbox-label">
                      <input type="checkbox" name="in_date"> 
                  In date 
                  </label>
                </li>
              </ul>
            </li>
        </ul>

    </form>
  </section>

  <ul id="stockfoods-list" hx-swap-oob="true">

  {% for stockfood in page_obj %}

        <li>
        <section id="stockfood-detail">
          <article class="dialog-container detail-dialog">

            <aside class="header-info">
              <h1><a href = '{{ stockfood.food.get_absolute_url }}'>{{ stockfood.food }}</a></h1>
              <span class="open-dialog open-info material-symbols-outlined">
              info_i
              </span>
              {% if stockfood.food.verified %}
                <span class="verified-icon material-symbols-outlined">
                verified_user
                </span>
              {% endif %}
            </aside>

              <ul>
              <li>Quantity: {{ stockfood.quantity }}</li>
              {% if stockfood.expired %}
                <li><em>Expired</em>: {{ stockfood.expiry_date }}</li>
              {% else %}
                <li>Expires: {{ stockfood.expiry_date }}</li>
              {% endif %}
            </ul>


            <dialog class="dialog info">
              <div class="dialog-wrapper">
              <span  class="close-dialog material-symbols-outlined">
              close
              </span>
            <ul>
              <li><a href="{% url 'stockFood-update' stockfood.id %}">Edit</a></li>
              <li><a href="{% url 'stockFood-delete' stockfood.id %}">Remove food</a></li>
            </ul>
            </div>
            </dialog>

          </article>
        </section>
        </li>

    {% endfor %}

  </ul>

  {% else %}
  <p>{{ stockinstance }} is currently empty!</p>
  {% endif %}

  <dialog id="header-dialog" class="dialog info">
    <div class="dialog-wrapper">
      <span id="close-recipe" onclick=showHeaderInfo(false) class="close-dialog material-symbols-outlined">close</span>
      <ul>
        <li>
          <a href="{% url 'stockInstance-update' stockinstance.id %}">edit</a>
        </li>
        <li>
          <a href="{% url 'stockInstance-delete' stockinstance.id %}">delete</a>
        </li>
      </ul>
    </div>
  </dialog>
  <a class="add-link" href='{% url 'stockFood-create' stockinstance.id %}'>Add Food <span class="material-symbols-outlined">add</span></a>

    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><span class="material-symbols-outlined">
    arrow_left_alt
    </span></a>
        {% else %}

          <a href=""><span class="material-symbols-outlined">
          arrow_left_alt
          </span></a>
              {% endif %}

        <span class="current">{{ page_obj.number }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><span class="material-symbols-outlined">
            arrow_right_alt
            </span></a>
        {% else %}

          <a href=""><span class="material-symbols-outlined">
          arrow_right_alt
          </span></a>
        {% endif %}
    </span>
<section>


{% endblock %}
