{% extends 'base.html' %}




{% block content %}

<section id="stockfood-detail">
  <article>
    <h1><a href = '{{ stockfood.food.get_absolute_url }}'>{{ stockfood.food }}</a></h1>

      <ul>
      <li>Quantity: {{ stockfood.quantity }}</li>
      <li>Expires: {{ stockfood.expiry_date }}</li>
    </ul>


    <ul>
      <li><a href="{% url 'stockFood-update' stockfood.id %}">Edit</a></li>
      <li><a href="{% url 'stockFood-delete' stockfood.id %}">Remove food</a></li>
    </ul>
  </article>

</section>

{% endblock %}
